.button {
  background-color: transparent !important;
  background-image: linear-gradient(to left, #ffe505, #ffc81c 100%);
  color: #010033 !important;
}

.active div{
  font-weight: 500;
}
.pancakes .pancake {
  background: #fff !important;
  top: 4px !important;
}
